/* タブレット用 */
@media(max-width: 1000px) {
  .container {
    max-width: 1000px;
  }
  h1 {
    font-size: 40px;
  }
  .heading img {
    width: 80px;
  }
  .header-logo {
    padding: 20px 0 0 30px;
  }
  .header-logo img {
    width: 170px;
  }
  .nav-btn a {
    padding: 8px 20px;
  }

  .service-wrapper {
    padding-bottom: 30px;
  }
  .services {
    display: block;
  }
  .service {
    width: 60%;
    margin: 0 auto 50px;
  }
  .service img, .service p {
    width: 90%;
  }

  /* index works-wrapper */
  .works-wrapper {
    clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0 95%);
  }
  .work-images {
    /* display: block; */
  }
  .work-image {
    /* float: left;
    width: 50%; */
  }
  .clear {
    clear: left;
  }
  .work-image img {
    /* width: 300px; */
  }
  /* index works-wrapper */

  /* about.html */
  .profile {
    display: block;
  }

  /* work.html */
  .work {
    display: block!important;
  }

  .image-container {
    text-align: center;
  }
  .image-container img {
    padding: 0;
    width: 80%;
  }
  video {
    position: absolute;
    width: 80%;
    height: 80%;
    /* top: 0;
    left: 0; */
  }
  .introduce {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .introduce h3 {
    text-align: center;
    padding-top: 15px;
  }


}


/* スマホ用 */
@media(max-width: 670px) {
  .container {
    max-width: 670px;
    padding: 0;
  }
  .h1, h2 {
    font-size: 35px;
  }
  .pc-header {
    display: none;
  }
  .sp-header {
    display: flex;
  }

  body.menu-open {
    overflow-y: hidden;
  }
  body.menu-open #cover {
    display: block;
  }
  body.menu-open #menu {
    right: 0;
  }

  #menu {
    display: block;
  }

  .heading img {
    margin: 55px 0 0 35px;
  }
  .heading h1 {
    left: 15px;
  }
  .header-right, .footer-left {
    display: none;
  }

  .top-wrapper h1 {
    padding: 0 10px;
    font-size: 30px;
  }
  .top-wrapper p {
    padding: 0 10px;
    font-size: 14px;
  }
  .service {
    width: 100%;
  }
  .ser2 {
    padding: 70px 0;
    background: #F2F2F2;
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
  }
  .footer-copy {
    text-align: center;
  }
  .smartphone-footer {
    display: block;
  }

  .message p, .sentenses p {
    font-size: 16px;
  }
  .myphoto {
    text-align: center;
  }
  .myphoto img {
    margin-right: 0;
  }
  .profile-list {
    text-align: center;
  }
  .profile-list dt {
    float: none;
    display: block;
  }
  .profile-list dd {
    margin: 0 0 40px;
  }


/* index works-wrapper */
  .works-wrapper {
    padding-bottom: 100px;
  }
  .work-images {
    display: block;
  }
  .work-image {
    width: 100%;
    margin: 0 0 50px;
    float: none;
  }
  .work-image img {
    width: 90%;
  }
  .clear {
    display: none;
  }
/* index.html works-wrapper */

/* works.html */
  .work-wrapper {
    margin: 50px 10px 10px;
    text-align: left;
  }
  .image-container img {
    width: 90%;
  }
  .introduce {
    width: 90%;
  }
  .introduce dt {
    float: none;
  }
  .introduce dd {
    margin-left: 0;
    padding-bottom: 20px;
  }
  /* works.html */

  form {
    border-radius: 0;
  }
  .mailForm {
    width: 100%;
    margin: 0 auto;
  }
  input, textarea {
    width: 100%;
  }
  .mailForm__submit {
    margin: 20px;
  }
  .fa-angle-up {
    background: rgba(243, 247, 129, 0.6);
  }
}
